body {
    margin: 0;
    font-family: 'source sans pro',sans-serif;
    font-family: 'camphor w01 heavy,helveticaneue-bold',Helvetica,arial bold,Arial,sans-serif;
    color: #252d13;
  }
  * {
    box-sizing: border-box;
  }
   .Header-container {
      margin-right: 10%;
      margin-left: 10%;
  }

  .navigation {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #fff;
    box-shadow: 0 14px 34px -10px rgb(14 21 28 / 25%), 0 0 4px 0 rgb(13 16 7 / 4%), 0 7px 15px -2px rgb(13 16 7 / 8%);
  }

  ul {
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
    margin: 25px 0;
  }
  
  a {
    display: inline;
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-size: small;
    font-weight: 600;
  }

  .topnav {
    overflow: hidden;
  }
  
.trial-login{
  padding: 15px;
  margin: 10px;
  text-decoration: none;
  color: #547bba;
}
  
  .header-info {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 60px;
  }
  .header-info h1 {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 50px;
  }
  .header-info p {
    font-size: 20px;
    font-weight: 500;
  }

  /* button trial button  */

   .trial-button {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    margin: 4px 8px 8px;
    padding: 15px 32px;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    font-family: camphor w01 bold,source sans pro,sans-serif;
    cursor: pointer;
    color: #1d2b3b;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 1px 2px rgb(0 0 0 / 31%);
    background-color: #a5c559;
    background-image: linear-gradient(
-180deg
,#accf60 4%,#a3c559 18%,#93b24f 59%,#83a044 100%);
    box-shadow: 0 2px 3px 0 #657a36, inset 0 -1px 0 0 rgb(163 197 89 / 34%);
  } 


  .trial-button:hover {
    top: 4px;
    box-shadow: 0 4px 6px 0 rgb(101 122 54 / 80%);
}

  .column {
    padding: 20px 8px;
    vertical-align: middle;
    background-color: #6854ba!important;
    color: #fff;
    border: none;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 400;
    word-break: break-word;
    text-align: center;
  }

  /* trial section  */

  .trial-container {
    background-image: url(../images/banner_cta_bg.jpg);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin: 100px 10% 100px 10%;
    padding: 50px;
  }
  .trial {
  font-size: 15px;
  color: #fff;
  grid-column: 1 / span 2;
}

.trial-link {
  margin-top: 25px;
}

.social {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  margin-left: 500px;
  align-items: center;
  /* margin: 0 20% 0 30%; */
  padding: 10px;
}


.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}
